.contenedor {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-datos {
    margin-bottom: 20px;
}

.form-datos label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-datos input[type="text"],
.form-datos input[type="email"],
.form-datos select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-datos textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.crear-oferta-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.crear-oferta-btn:hover {
    background-color: #45a049;
}

.reset-btn {
    display: block !important; 
    width: 30% !important; 
    padding: 10px !important; 
    border: none !important;
    border-radius: 4px !important; 
    background-color: #4caf50 !important;
    color: #fff !important; 
    font-size: 16px !important; 
    cursor: pointer !important; 
}

.reset-btn:hover {
    background-color: #45a049 !important;
}

/* Shortcode creacion de oferta */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-data {
    display: block;
}

.form-card {
    margin-bottom: 20px;
}

.form-card label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-card input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.descuento_precio {
    margin-left: 5px;
}

.descuento_porcentaje {
    margin-left: 5px;
}

#div_precio {
    display: none;
}

#div_porcentaje {
    display: none;
}

.ofertas-table {
    width: 100%;
    border-collapse: collapse;
}

.ofertas-table th,
.ofertas-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ofertas-table th {
    background-color: #f2f2f2;
}
